body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    flex-direction:column;
    
  
}
h1{
    position: absolute;
    font: optional;
    font-size: 40px;
    pointer-events: none;
    left: 50%;
    color: lightgray;
    transform: translateX(-50%);
    z-index: -1;
   
}

canvas{

    border: 1px solid black;
}

.color{
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-direction:row;
    position: absolute;
    color: aliceblue;
    
    
}



.red{
    background-color: red;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.green{
    background-color: green;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blue{
    background-color: blue;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.violet{
    background-color: violet;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.black{
    background-color: black;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.yellow{
    background-color: yellow;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}